@import "../bs";

.contact-us {
  .contact-title {
    font-size: 30px;
    color: $gray;
  }
  .contact-subtitle {
    color: #a1a1a1;
  }
  .contact-us-card {
    background: #ffffff;
    box-shadow: 2px 2px 12px -1px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-radius: 4px;
    img {
      margin-right: 8px;
    }
    .xs-image {
      width: 100%;
      height: 150px;
      object-fit: cover;
      object-position: 15% 22%;
    }
  }
}

.contact-card-img {
  height: 350px;
  width: 100px;
  object-fit: cover;
  object-position: 25% center;
}

.got-any-questions {
  color: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 599px) {
  .xs-image {
    width: 100%;
  }
}
