@import "../bs";

footer {
  &.footer {
    .linkedin-btn {
      background-color: #2969b1;
      border: 0;
      border-radius: 3px;
      padding: 7px 10px;
      color: white;
      font-weight: 600;
      line-height: 32px;
      vertical-align: middle;
      transition: background-color 200ms ease-in-out;
    }
    .linkedin-logo {
      width: 32px;
      height: 32px;
      vertical-align: top;
      margin-right: 1rem;
    }
    background: $gray !important;
    .incede-img {
      img {
        width: 150px;
        margin-bottom: 14px;
      }
    }
    a,
    p,
    h6,
    address {
      color: whitesmoke;
    }
    h6 {
      font-weight: 500;
      font-size: large;
    }
    .incede-img {
      .row {
        align-items: baseline;
      }
    }
    // section {
    //   padding: 120px 32px;
    //   &.half-menu {
    //     padding: 16px 0;
    //   }
    //   &.social {
    //     padding: 120px 32px;
    //   }
    // }
    .social {
      margin-bottom: 24px;
      img {
        width: 36px;
        height: 36px;
        border-radius: 4px;
      }
      a {
        padding: 12px;
      }
    }
    li {
      margin-bottom: 16px;
    }

    @media screen and (max-width: 576px) {
      .incede-img {
        padding-top: 22px;
        img {
          width: 6em;
          height: 3.5em;
        }
      }

      .social {
        img {
          width: 1.4em;
          height: 1.4em;
        }
        a {
          padding: 8px;
        }
      }
      li {
        margin-bottom: 8px !important;
      }
      p {
        font-size: 12px !important;
      }
      .row {
        div:not(:first-child) {
          margin-top: 14px;
        }
      }
    }
  }
}
