.wtd-list {
  .wtd-card {
    .card {
      border: none;
      border-bottom: 1px solid #ddd;
      border-radius: 0;
    }
    margin: 2em 0;
    .image-section {
      width: 100%;
      max-width: 180px;
      margin: 0 auto;
    }
    .card-container {
      padding-top: 1.5em;
      padding-bottom: 1.5em;
    }
  }
}
