$primary: #5c4abb;
$secondary: #18a88c;
$gray: #474747;
$light-gray: #9f9f9f;
// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1280px
// ) !default;
// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
